<a href="https://colab.research.google.com/github/kartoch/colab-eda/blob/master/04%20Videogames%20Blank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv("video-games.csv",)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Name               16717 non-null object
Platform           16719 non-null object
Year_of_Release    16450 non-null float64
Genre              16717 non-null object
Publisher          16665 non-null object
NA_Sales           16719 non-null float64
EU_Sales           16719 non-null float64
JP_Sales           16719 non-null float64
Other_Sales        16719 non-null float64
Global_Sales       16719 non-null float64
Critic_Score       8137 non-null float64
Critic_Count       8137 non-null float64
User_Score         10015 non-null object
User_Count         7590 non-null float64
Developer          10096 non-null object
Rating             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

Recharger le jeu de données en forçant les types (voir documentation de read_csv)

Transformer les colonnes Platform et Genre en catégories (astype)

Print the 5 first rows using head then iloc

print only the column Developer

Print the list of all possible ratings (quelle est la méthode pour obtenir les éléments uniques d'une colonne ?)

As saw in previous question, there is a field nan. Print the list of all possible ratings WITHOUT null values

Print all Year_of_Release values possible (not duplicate) to identify what is the null value in it (i.e. the field which is not a year).

Question 9: Could you guess the genre which bring the best sales in Japan (based on column JP_Sales) ?

Compute the average User Score and the number of User Score for each Publisher

In [0]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (20,8)

Print the number of release by year (one line by publisher)

**Q:** Print a barplot (using sns.barplot method) with the year in X and the number of games released in Y. Years must be sorted and null value must be excluded.

**Q:** Print a barplot (using sns.barplot method) with the year in X and the number of games released in Y only for Wii games. Years must be sorted and null value must be excluded.